<section class="masthead text-white text-center" style="padding-top: 10rem; padding-bottom: 6rem; width:100%; text-align: center; overflow: auto">
    <div id="index" type="hidden">{{data.IDX}}</div>
    <div id="explan-box" class="text-center">
        {{data.GM_EXPLAIN}}
    </div>
    <div id="play-box" style="display: inline-flex; position: relative;">
        <a id="next-box" onclick="next_gm()">눌러서 다음 질문으로</a>
        <button class="question-box box gm_answer1" style=" border:0.5rem solid #e74c3c; border-radius: 0 0 0 0.5rem" onclick="gm_score()">
            <div class="question-text">{{data.QUESTION_A}}</div>
            <div class="score-box"><div class="num" data-level="{{score.SCORE_A}}"></div><div class="per">%</div>
        </button>
        <button class="question-box box gm_answer2" style="border:0.5rem solid #3498db; border-radius: 0 0 0.5rem 0" onclick="gm_score()">
            <div class="question-text">{{data.QUESTION_B}}</div>
            <div class="score-box"><div class="num" data-level="{{score.SCORE_B}}"></div><div class="per">%</div>
        </button>
    </div>
</section>

<!-- Comment Section-->
<section class="page-section bg-primary" id="Comment">
    <div class="comment">
        <!-- Comment Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 py-3">Comment</h2>
        <div id="comment" class="comment">
            <form id="comment_form" action="/game/api/comment_insert/" method="post">
                <input type="text" autocomplete="off" name="comment" class="comment-body form-control px-3" maxlength="140" id="comment" placeholder="댓글을 입력해주세요.">
                <div id="submit_parent" class="justify-content-between py-2" style="display: flex;">
                    <input type="text" class="form-control px-2" style="width:30rem" name="nickname" value="ㅇㅇ" maxlength="20" placeholder="닉네임">
                    <input type="password" class="form-control px-2" style="width:20rem" name="password" value="" maxlength="20" placeholder="비밀번호">
                    <input type="submit" name="submit" class="btn btn-dark comment_button" value="등록">
                </div>
                <input type="text" name="parent_id" value="{{data.IDX}}" style="display: none">
            </form>
            <div id="comment_count">댓글: {{lengthOfList comments}}개</div>
            <div id="comment_container">
                {{#each comments}}
                <div class="container mt-3">
                    <div class="d-flex justify-content-center row">
                        <div class="d-flex flex-column comment-section p-0">
                            <div class="bg-white p-2 rounded-3">
                                <div class="d-flex flex-row user-info position-relative">
                                    <span class="d-block font-weight-bold name">{{NICKNAME}}</span><span class="date text-black-50 position-absolute top-0 end-0">{{dateString CREATED_AT}}</span>
                                </div>
                                <p class="m-0">{{COMMENT}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>
<script src="/js/script_play.js"></script>