
{{#with data}}
<div class="masthead text-white text-center" style="padding-top: 10rem; padding-bottom: 6rem; display:inline-flex; width:100%; text-align: center;">
    <div style="margin:auto">
        <div id="explan-box" class="text-center">
            <!-- game 질문 -->
            {{GM_EXPLAIN}} <!-- 술에 더 잘어울리는 안주는? <%= data.exp %> -->
        </div>
        <div id="play-box">
            <button class="question-box box" style=" border:0.5rem solid #e74c3c; float:left; border-radius: 0 0 0 0.5rem">
                {{QUESTION_A}} <!-- 치킨 + 맥주 <%= data.qa %>-->
            </button>
            <button class="question-box box" style="border:0.5rem solid #3498db; float:right; border-radius: 0 0 0.5rem 0">
                {{QUESTION_B}} <!-- 모둠전 + 막걸리  <%= data.qb %> -->
            </button>
        </div>
    </div>
</div>
{{/with}}
<!-- Comment Section-->
<section class="page-section bg-primary" id="Comment">
    <div class="comment">
        <!-- Comment Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 py-3">Comment</h2>
        <div id="comment" class="comment">
            <form id="comment_form" action="https://bellissue.com/comment_insert" method="post">
                <input type="text" autocomplete="off" name="comment_body" class="comment-body form-control px-3"
                    maxlength="140" id="comment_body" placeholder="댓글을 입력해주세요.">
                <div id="submit_parent" class="justify-content-between py-2" style="display: flex;">
                    <input type="password" class="form-control not_login_password comment-pass px-3" name="password"
                        maxlength="20" placeholder="비밀번호">
                    <input type="button" name="submit" class="btn btn-dark comment_button" value="등록">
                </div>
                <input type="text" name="parent_id" value="0" style="display: none">
            </form>
            <div id="comment_count">댓글: 8개</div>
            <div id="comment_container">
            {{#each comments}}
            <div>
                <div>
                    작성자 : <b>{{NICKNAME}}</b>
                </div>
                <div>
                    작성일시 : {{CREATED_AT}}
                    {{!-- <button onclick="deleteComment('{{idx}}')">삭제</button> --}}
                </div>
            </div>
            <div>
                <pre>{{comment}}</pre>
            </div>
            {{/each}}
            </div>
        </div>
    </div>
</section>